<div class="admin-panel">

    <h1 class="petrostage"> PetroStage</h1>

    <div class="admin-panel-inner">
        <div class="user-card" >
            <div class="user-info clearfix" ng-if="$ctrl.currentUserStatus">
                <p class="user-name"> <span class="name-output"> {{$ctrl.currentUser.name}} </span> </p>
                <p class="user-email"> <strong class="mr-1">Email: </strong> <span class="email-output"> {{$ctrl.currentUser.email}} </span> </p>
                <p class="user-university"> <strong class="mr-1">City: </strong><span class="university-output"> {{$ctrl.currentUser.university}} </span> </p>
            </div>
            <div class="user-info clearfix" ng-if="$ctrl.currentUserStatus === false">
                <p class="user-name"> <span class="name-output"> Guest </span> </p>
            </div>
        </div>
        <div ui-sref="auth" class="logout" ng-if="$ctrl.currentUserStatus === false"> Log in</div>
        <nav class="navigation">
            <ul class="nav-menu">
                <li class="nav-list"><a ui-sref="client.events" class="nav-link"> Events </a></li>
                <li class="nav-list"><a ui-sref="client.about" class="nav-link"> About </a></li>
                <li class="nav-list"><a href="#" class="nav-link"> Jobs </a></li>
                <li class="nav-list"><a href="#" class="nav-link"> Internships </a></li>
                <li class="nav-list"><a href="#" class="nav-link"> Contacts </a></li>
            </ul>
        </nav>
        <div ui-sref="auth" class="logout" ng-click="$ctrl.logout()" ng-if="$ctrl.currentUserStatus"> Log out</div>
    </div>
    <footer class="footer">

        <p class="me"> Created by <a class="me-link" href="https://vk.com/michaeladze" target="_blank"> Michael Kutateladze</a></p>
        <p class="spe-chapter"><a class="spe-link" href="http://www.gubkinspe.ru/" target="_blank"> Gubkin SPE Chapter</a></p>
        <p class="donate"> <a href="https://www.paypal.me/michaeladze/10eur" target="_blank" class="paypal-link"> Support developer </a> </p>
        <p class="copyright"> Copyright {{$ctrl.currentYear}} &copy; PetroStage </p>
    </footer>
</div>

<div class="orders-panel">
    <div class="orders-panel-inner" ui-view>
            <about-interface></about-interface>
            <events-interface></events-interface>
    </div>
</div>