@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

@font-face {
    font-family: 'pantonbold';
    src: url('../fonts/panton-bold-webfont.woff2') format('woff2'),
    url('../fonts/panton-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    width: 100%;
}

body {
    overflow-x: hidden;
    background: #ECEFF1;
}

a {
    text-decoration: none;
}

[role='button'] {
    outline: none !important;
}


.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.hidden {
    display: none;
}

/* Registration */

.registration {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #4587D3, #78AAE5);
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.registration-inner {
    width: 340px;
    background: #fff;
    border-radius: 6px;
}

.switch-to-registration {
    cursor: pointer;
    float: right;
    vertical-align: top;
    text-align: right;
    color: #78AAE5;
}
.guest-login {
    color: #aaa;
    margin-right: 10px;
}


.switch-to-registration:hover {
    color: #4587D3;
}

.login-form {
    height: 300px;
}

.signup-form {
    height: 410px;
}

.registration-inner-animate {
    width: 100%;
    background: #fff;
    border-radius: 6px;
}

.registration-form {
    width: 340px;
    height: 100%;
    background: #ffffff;
    box-shadow: 10px 10px 50px #4E7DB5;
    border-radius: 6px;
    padding: 20px;
}

.form-row {
    margin-top: 24px;
    padding: 0 20px;
    position: relative;
}

.form-input {
    display: block;
    position: relative;
    width: 100%;
    height: 34px;
    outline: 0;
    border: 0;
    font-size: 16px;
    padding-left: 10px;
    color: #607D8B;;
}

.underline {
    height: 1px;
    width: 100%;
    background: #B0BEC5;
    position: relative;
}

.underline-inner {
    height: 100%;
    width: 100%;
    background: #607D8B;
    transform: rotateY(90deg);
    transition: 0.4s;
}

.form-input:focus ~ .underline > .underline-inner {
    transform: rotateY(0deg);
}

.validation-status {
    position: absolute;
    top: 16px;
    right: 20px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #efefef;
    transition: 0.1s;
}

.form-input.ng-touched.ng-valid ~ .validation-status {
    background: #AED581;
}

.form-input.ng-dirty.ng-valid ~ .validation-status {
    background: #AED581;
}

.form-input.ng-touched.ng-invalid ~ .validation-status {
    background: #FF8A65;
}

.form-submit {
    float: right;
    width: 50%;
    height: 34px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: #78AAE5;
    box-shadow: 1px 1px 3px #1976D2;
    text-shadow: 1px 1px 1px #1976D2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.12s;
}

.form-submit:not([disabled='disabled']):hover {
    background: #5c98e0;
}

.form-submit[disabled='disabled'] {
    opacity: 0.4;
    cursor: default;
}

.alert-message {
    margin-top: 15px;
    text-align: center;
    color: #F4511E;
    cursor: default;
    transition: 0.15s;
}

.preloader {
    float: right;
    width: 34px;
    height: 34px;
    margin-right: 20px;
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #ECEFF1;
    border-top-color: #4587D3;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Client Interface */

.wrapper {
    max-width: 2000px;
    margin: 0 auto;
    transition: 0.3s;
    background: #ECEFF1;
    position: relative;
}

.admin-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    min-width: 220px;
    float: left;
    background: linear-gradient(to bottom, #4587D3, #78AAE5);
    transition: 1s ease-out;
}

.petrostage {
    font-family: pantonbold;
    text-align: center;
    color: #fff;
    font-size: 60px;
    cursor: default;
    padding: 10px 0;
}

.petrostage-mobile {
    display: none;
    font-family: pantonbold;
    text-align: center;
    color: #4587D3;
    font-size: 50px;
    cursor: default;
    padding: 10px 0;
}

.petrostage-heading {
    font-family: pantonbold;
    text-align: center;
    color: #fff;
    font-size: 60px;
    cursor: default;
    padding: 30px 0;
}

.orders-panel {
    height: 100%;
    width: 80%;
    margin-left: 20%;
    float: left;
    transition: 1s ease-out;
}

.orders-panel-inner.ng-enter {
    transition: all 1s;
    opacity: 0;
}

.orders-panel-inner.ng-enter-active {
    opacity: 1;
}

.main-content.ng-enter {
    transition: all 1s;
    opacity: 0;
}

.main-content.ng-enter-active {
    opacity: 1;
}

/*.main-content.ng-enter .admin-panel {*/
/*transform: translateX(-1000px);*/
/*}*/

/*.main-content.ng-enter .orders-panel {*/
/*transition: 1s ease-out;*/
/*transform: translateX(2000px);*/
/*}*/

/*.main-content.ng-enter-active .admin-panel {*/
/*transform: translateX(0);*/
/*}*/

/*.main-content.ng-enter-active .orders-panel {*/
/*transform: translateX(0);*/
/*}*/

.admin-panel-inner {
    padding: 20px;
    cursor: default;
    height: 100%;
}

.user-card {
    display: flex;
}

.user-info {
    color: #fff;
}

.user-image {
    width: 100%;
}

.user-name {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    font-size: 22px;
}

.user-email,
.user-university {
    font-weight: 500;
    margin-top: 10px;
    font-size: 18px;
}

.mr-1 {
    margin-right: 0.5em;
}

.navigation {
    margin-top: 50px;
}

.nav-menu {
    padding: 30px 0;
}

.nav-list {
    list-style-type: none;
    margin-top: 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.nav-link:hover {
    margin-left: 6px;
}

.logout {
    float: right;
    display: inline-block;
    padding: 8px 10px;
    margin-top: 30px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

.logout:hover {
    background: #fff;
    color: #4587D3;
    box-shadow: 1px 1px 1px #1976D2;
}

.footer {
    height: 250px;
    margin-top: -250px;
    text-align: center;
    color: #fff;
    cursor: default;
}

.me-link {
    color: #FFCC7B;
}

.spe-link {
    color: #fff;
    transition: 0.12s;
}

.spe-link:hover {
    color: #FFCC7B;
}

.donate {
    margin: 15px 0;
}

.paypal-link {
    color: #fff;
    transition: 0.2s;
}

.paypal-link:hover {
    color: #FFCC7B;
}

.orders-top {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    height: 80px;
    align-items: center;
    cursor: default;
    border-bottom: 1px solid #333;
}

.order-heading {
    color: #333;
}

.tool-button {
    height: 35px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #4E7DB5;
    cursor: pointer;
    color: #1976D2;
    margin-left: 20px;
    transition: 0.3s;
}

.tool-button:hover {
    background: #4E7DB5;
    color: white;
    text-shadow: 1px 1px 1px #4E7DB5;
}

/* Filter */



.filter-bar {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.filter {
    border: 0;
    outline: 0;
    width: 450px;
    height: 40px;
    padding: 10px;
    background: transparent;
    font-size: 24px;
    border-bottom: 1px solid #B0BEC5;
}

.filter-search {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #4E7DB5;
    cursor: pointer;
    color: #1976D2;
    margin-left: 30px;
    background: transparent;
    transition: 0.3s;
    outline: none;
}

.filter-search:hover {
    background: #4E7DB5;
    color: white;
    text-shadow: 1px 1px 1px #4E7DB5;
}

.new-comment-input-clear {
    font-size: 1.2em;
    color: #ccc;
    cursor: pointer;
    transition: 0.6s;
}

.new-comment-input-clear:hover {
    color: #4E7DB5;
}

.new-event-wrapper {
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: -31%;
    width: 30%;
    height: 100vh;
    background: linear-gradient(to top, #26A69A, #4DB6AC);
    transition: 1s ease;
    color: #fff;
    box-shadow: -2px 0 20px #888;
}

.new-event-wrapper.enter {
    right: 0;
}

.new-event-inner {
    margin: 0 20px;
    position: relative;
}

.close-menu {
    position: absolute;
    right: 20px;
    top: 27px;
    cursor: pointer;
    transition: 0.6s;
}

.close-menu:hover {
    transform: rotate(90deg);
}

.new-event-heading {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    height: 80px;
    cursor: default;
}

.new-event-form .form-input, .md-datepicker-input {
    background: transparent;
    color: #fff;
}

.md-datepicker-input::placeholder {
    color: #E0E0E0 !important;
}

.form-input::placeholder {
    color: #E0E0E0;
}

md-icon {
    color: #fff;
}

.md-default-theme .md-datepicker-open .md-datepicker-calendar-icon, .md-datepicker-open .md-datepicker-calendar-icon {
    color: #fff !important;;
}

.md-default-theme .md-datepicker-input-container.md-datepicker-focused, .md-datepicker-input-container.md-datepicker-focused {
    border-bottom: 0 !important;
}

.md-default-theme .md-datepicker-input-container.md-datepicker, .md-datepicker-input-container.md-datepicker {
    border-bottom: 0 !important;
}

.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
    border: 1px solid #26A69A !important;
}

.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-top-color:#fff !important;
}

.md-default-theme .md-datepicker-input-container, .md-datepicker-input-container {
    border-bottom: 0 !important;
}

.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: #26A69A !important;
    color: #fff !important;
    border-color: transparent;
}

.md-datepicker-open ~ .underline > .underline-inner {
    transform: rotateY(0deg);
}

md-datepicker.ng-touched.ng-valid ~ .validation-status {
    background: #AED581;
}

md-datepicker.ng-dirty.ng-valid ~ .validation-status {
    background: #AED581;
}

md-datepicker.ng-touched.ng-invalid ~ .validation-status {
    background: #FF8A65;
}

.underline-inner.white-line {
    background: #fff;
}

.event-form-description {
    resize: none;
    transition: 0.3s;
    overflow: hidden;
}

.event-form-description:focus {
    height: 155px;
}

.new-event-form .validation-status {
    right: 5px;
}

.form-input.ng-not-empty ~ .underline {
    background: #fff;
}

md-datepicker.ng-not-empty ~ .underline {
    background: #fff;
}

md-datepicker.ng-touched.ng-invalid ~ .underline {
    background: #FF8A65;
}

md-datepicker.ng-touched.ng-invalid ~ .underline-inner {
    background: #FF8A65;
}

.form-input.ng-touched.ng-invalid ~ .underline {
    background: #FF8A65;
}

.form-input.ng-touched.ng-invalid ~ .underline-inner {
    background: #FF8A65;
}

.event-form-datefrom {

}

.ui-datepicker {
    width: 300px;
    background: #ECEFF1;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    cursor: default;
}

.ui-datepicker-header {
    display: flex;
}

.ui-datepicker-prev {
    position: relative;
    display: inline-block;
    padding: 7px;
    text-align: center;
    width: 30%;
    order: 1;
    cursor: pointer;
    transition: 0.3s;
    color: transparent;
}

.ui-datepicker-next {
    position: relative;
    display: inline-block;
    padding: 7px;
    text-align: center;
    width: 30%;
    order: 3;
    cursor: pointer;
    transition: 0.3s;
    color: transparent;
}

.ui-datepicker-next span,
.ui-datepicker-prev span {
    display: none;
}

.ui-datepicker-next:after {
    content: "";
    display: inline-block;
    margin-top: 10px;
    width: 24px;
    height: 24px;
    background: url('../img/right.png') no-repeat;
}

.ui-datepicker-prev:after {
    content: "";
    display: inline-block;
    margin-top: 10px;
    width: 24px;
    height: 24px;
    background: url('../img/left.png') no-repeat;
}

.ui-datepicker-title {
    display: inline-block;
    padding: 7px;
    text-align: center;
    width: 40%;
    order: 2;
}

.ui-datepicker-next:hover {
    background: #B0BEC5;
}

.ui-datepicker-prev:hover {
    background: #B0BEC5;
}

.ui-datepicker-calendar {
    width: 100%;
    border-collapse: collapse;
}

.ui-datepicker-calendar td {
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}

.ui-datepicker-calendar a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px;
    text-decoration: none;
    color: #26A69A;
}

.ui-datepicker-calendar a:hover {
    background: #26A69A;
    color: #fff;
}

.ui-datepicker-calendar td:hover a {

}

.ui-state-active {
    background: #26A69A !important;
    color: #fff !important;
}

.event-form-type {
    display: none;
}

.event-form-type-label {
    padding: 5px 15px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.event-form-type-label:nth-of-type(n+2) {
    border-left: 0;
}

.event-form-type-label:hover {
    background: #fff;
    color: #26A69A;
}

.event-form-type:checked + .event-form-type-label {
    background: #fff;
    color: #26A69A;
}

.event-form-type-label:nth-of-type(1) {
    border-radius: 4px 0 0 4px;
}

.event-form-type-label:nth-of-type(3) {
    border-radius: 0 4px 4px 0;
}

.form-row-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-submit.event-submit {
    width: 45%;
    background: transparent;
    border: 1px solid #fff;
    margin-bottom: 50px;
    text-shadow: none;
    box-shadow: none;
    float: none;
}

.form-submit.event-submit:not([disabled='disabled']):hover {
    background: #fff;
    color: #26A69A;
}

.form-submit.delete-event {
    position: relative;
    overflow: hidden;
}

.toggle-delete-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.delete-event-yes,
.delete-event-no {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    line-height: 34px;
    background: #26A69A;
    color: #fff;
    transition: background 0.3s;
}

.delete-event-no {
    border-left: 1px solid #fff;
}

.delete-event-no:hover {
    color: #26A69A;
    background: #fff;
}

.delete-event-yes:hover {
    color: #fff;
    background: #F4511E;
}

.prelaoder.event-preloader {
    border-color: transparent;
}

.circle.event-loader {
    border: 2px solid transparent;
    border-top: 2px solid #ECEFF1;
}

.events-main {
    padding: 20px;
}

.event-card {
    width: 33.3%;
    height: 360px;
    margin-top: 15px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-card-inner {
    width: 95%;
    height: 350px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px #9E9E9E;
    overflow: hidden;
}

.event-card-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    border-radius: 6px 6px 0 0;
    color: #fff;
    height: 80px;
}

.event-title {
    width: 97%;
}

.event-edit {
    position: relative;
    width: 3%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.event-edit .fa-edit {
    position: absolute;
    top: 3px;
    right: 0;

}

.event-edit:hover {
    color: #E0E0E0;
}

.event-card-long-row {
    width: 300%;
    height: 220px;
    transition: 0.3s;
}

.event-card-long-row-inner {
    height: 100%;
}

.event-card-info,
.event-card-description,
.event-card-comments {
    width: calc(100% / 3);
    height: 100%;
    float: left;
    padding: 20px;
}

.event-card-description {
    text-align: justify;
}

.event-card-row {
    margin-top: 20px;
    color: #232323;
}

.event-card-row:nth-of-type(1) {
    margin-top: 0;
}

.background-conference {
    background: #4688D3;
}

.background-congress {
    background: #26A69A;
}

.background-forum {
    background: #FFA700;
}

.color-conference:hover {
    color: #4688D3;
}

.color-congress:hover {
    color: #26A69A;
}

.color-forum:hover {
    color: #FFA700;
}

.fa-envelope {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}

.event-card-email {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.event-links {
    display: flex;
    justify-content: right;
}

.event-link {
    display: inline-block;
    text-decoration: none;
    color: #232323;
    margin-left: 10px;
    vertical-align: top;
}

.social-link {
    font-size: 18px;
    margin-left: 15px;
}

.event-link:nth-of-type(1) {
    margin-left: 0;
}

.date-space {
    display: inline-block;
    width: 40px;
    margin-right: 5px;
}

.event-card-buttons {
    height: 30px;
    font-size: 0;
    border-bottom: 1px solid #B0BEC5;
}

.event-card-button {
    list-style-type: none;
    display: inline-block;
    width: calc(100% / 3);
    height: 100%;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.event-card-button:nth-of-type(n+2) {
    border-left: 1px solid #B0BEC5;
}

.event-button-color-conference:hover {
    background: #4688D3;
    color: #fff;
}

.event-button-color-congress:hover {
    background: #26A69A;
    color: #fff;
}

.event-button-color-forum:hover {
    background: #FFA700;
    color: #fff;
}

.event-button-color-conference.event-button-active {
    background: #4688D3;
    color: #fff;
}

.event-button-color-congress.event-button-active {
    background: #26A69A;
    color: #fff;
}

.event-button-color-forum.event-button-active {
    background: #FFA700;
    color: #fff;
}

/* COMMENTS */

.event-card-comments {
    padding: 20px 0 0 0;
}

.event-card-comments-inner {
    position: relative;
}

.new-comment {
    height: 30px;
}

.new-comment-form {
    height: 100%;
    font-size: 0;
}

.new-comment-input {
    width: 80%;
    height: 100%;
    padding: 3px 10px;
    outline: none;
    border: 0;
    border-top: 1px solid #B0BEC5;
    border-left: 1px solid #B0BEC5;
    font-size: 16px;
    vertical-align: top;
}

.new-comment-submit {
    width: 20%;
    height: 100%;
    outline: none;
    border: 0;
    font-size: 16px;
    vertical-align: top;
    cursor: pointer;
    background: #B0BEC5;
    color: #fff;
    transition: 0.3s;
}

.new-comment-submit:not([disabled='disabled']):hover {
    background: #90A4AE;
}

.comments-field {
    height: 190px;
    overflow-y: auto;
    padding-left: 20px;
}

.comment {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #B0BEC5;
}

.comment-author {
    display: inline-block;
    vertical-align: top;
}

.comment-time {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    color: #9E9E9E;
}

.comment-text {
    margin-top: 5px;
}

/* Rating */

.space-between {
    display: flex;
    justify-content: space-between;
}

.star-input {
    display: none;
}

.rating-form {
    position: relative;
    width: 103px;
}

.border-star {
    color: transparent;
}

.border-star:hover {
    cursor: pointer;
    color: #FF6F00;
}

.stars-outer {
    position: relative;
    width: 103px;
    cursor: default;
}

.stars-under {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #B0BEC5;
    cursor: default;
}

.stars-over {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    color: #FFA700;
}

/* ABOUT */

.about-container {
    padding: 20px 40px;
}

.about-inside {
    cursor: default;
    width: 80%;
    margin: 0 auto;
}

.about-heading {
    text-align: center;
    font-family: pantonbold;
}

.hr-blue {
    width: 100px;
    height: 2px;
    background: #4587D3;
    margin: 10px auto 0;
}

.about-p {
    margin-top: 20px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5em;
}

.about-support {
    color: #4587D3;
}

.about-link {
    color: #4587D3;
}

/* CONTACT */

.contact {
    padding: 20px 40px;
}

.contact-inner {
    cursor: default;
    width: 80%;
    margin: 0 auto;
}

.contact-form-row {
    display: flex;
    justify-content: space-between;
}

.contact-form-col {
    width: 25%;
    text-align: center;
}

.contact-form-heading {
    margin-top: 15px;
}

.contact-form-heading-icon {
    font-size: 35px;
}

.contact-form-content {
    width: 100%;
    margin: 80px auto 0;
}

.contact-form-textarea {
    padding: 20px;
    width: 100%;
    height: 400px;
    border-radius: 6px;
    background: transparent;
    font-size: 26px;
    outline: 0;
    border: 0;
    box-shadow: 0 0 10px #efefef;
}

.contact-form-button {
    width: 100px;
    height: 34px;
    padding: 4px 10px;
    margin-top: 20px;
    outline: 0;
    border: 1px solid #5c98e0;
    color: #5c98e0;
    border-radius: 6px;
    float: right;
    background: transparent;
    transition: 0.3s;
}

.contact-form-button[disabled="disabled"] {
    opacity: 0.5;
}

.contact-form-button:not([disabled="disabled"]):hover {
    background: #5c98e0;
    color: #fff;
}

.email-success {
    margin-top: 80px;
    font-size: 26px;
}


.contact-form .preloader {
    margin-top: 20px;
}
/* MEDIA */

@media screen and (max-width: 1600px) {
    .event-title {
        font-size: 17px;
    }

    .petrostage {
        font-size: 50px;
    }

    .navigation {
        margin-top: 0;
    }
}

@media screen and (max-width: 1440px) {
    .event-card-header {
        padding: 7px 10px;
    }

    .event-card-description {
        font-size: 15px;
    }

    .comments-field {
        font-size: 15px;
    }

    .petrostage {
        font-size: 45px;
    }
}


@media screen and (max-width: 1360px) {
    .event-card-header {
        padding: 7px 5px;
    }

    .event-title {
        font-size: 16px;
    }

    .event-card-button {
        font-size: 15px;
    }

    .event-card-row {
        font-size: 15px;
    }

}

@media screen and (max-width: 1280px) {

    .event-title {
        font-size: 15px;
    }

    .event-card-button {
        font-size: 14px;
    }

    .event-card-row {
        font-size: 14px;
    }

    .event-card-description {
        font-size: 14px;
    }

    .comments-field {
        font-size: 14px;
    }

    .petrostage {
        font-size: 40px;
    }
}


@media screen and (max-width: 1100px) {

    .event-title {
        font-size: 14px;
    }

    .event-card-button {
        font-size: 14px;
    }

    .event-card-row {
        font-size: 14px;
    }

    .event-card-description {
        font-size: 13px;
    }

    .event-card-info, .event-card-description, .event-card-comments {
        padding: 10px;
    }

    .comments-field {
        font-size: 13px;
    }

    .petrostage {
        font-size: 35px;
    }
}

@media screen and (max-width: 1024px) {
    .event-card {
        width: 50%;
    }

    .filter {
        width: 380px;
    }

    .admin-panel {
        display: none;
        min-height: 768px;
    }

    .orders-panel {
        float: none;
        width: 100%;
        margin-left: 0;
    }

    .filter-block {
        width: calc(100% - 100px);
    }

    .filter {
        width: 100%;
    }

    .tool-button {
        display: none;
    }

    .event-edit {
        display: none;
    }

    .new-event-wrapper {
        display: none;
    }
    .petrostage {
        display: none;
    }

    .petrostage-mobile {
        display: block;
    }
}


@media screen and (max-width: 600px) {
    .event-card {
        width: 94%;
        margin: 15px auto;
        float: none;
    }

    .event-card-header {
        padding: 10px;
    }

    .event-title {
        font-size: 17px;
    }

    .event-card-button {
        font-size: 16px;
    }

    .event-card-row {
        font-size: 16px;
    }

    .event-card-description {
        font-size: 16px;
    }

    .comments-field {
        font-size: 16px;
    }

    .filter {
        width: 300px;
    }
}

@media screen and (max-width: 450px) {

    .events-main {
        padding: 0;
    }

    .event-card {
        width: 98%;
        margin: 15px auto;
        float: none;
    }

    .event-card-button {
        font-size: 13px;
    }

    .event-card-description,
    .event-card-comments {
        font-size: 13px;
    }

    .filter {
        width: 200px;
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    .filter {
        width: 130px;
    }

    .social-link {
        font-size: 16px;
        margin-left: 10px;
    }
}